@media (max-width: 800px) {
    .container {
        padding: 0 10px;
    }

    .main {
        padding: 30px 0 40px;
    }

    .main__table {
        overflow-x: hidden;
        overflow-y: auto;
    }

    .main__table::-webkit-scrollbar {
        display: none;
    }

    .main__table-td {
        width: 100%;
        min-width: 140px;
    }

    .main__table-td:nth-child(1) {
        width: 100%;
        min-width: 100px;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 8px 0;
    }

    .header__inner {
        display: flex;
        justify-content: center;
    }

    .header__search {
        display: none;
    }

    .header__logo-img {
        width: 100%;
        max-width: 30px;
    }

    .add-popup,
    .update-popup,
    .remove-popup {
        width: 100%;
        max-width: 300px;
        padding: 10px;
    }
}